<button
    (click)="toggleModal()"
    class="relative flex flex-row-reverse items-center bg-white px-2.5 py-1.5 text-sm font-semibold gap-x-1.5 text-gray-900 ml-1 hover:bg-gray-50 focus:z-10"
    type="button">
    Edit
    <svg class="w-5 h-5 text-blue-600 font-bold" fill="none" stroke="currentColor" stroke-width="1.5"
         viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
        <path
            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            stroke-linecap="round"
            stroke-linejoin="round"/>
    </svg>
</button>

<app-shared-modal [show]="displayModal">
    <div class="px-4 sm:px-6 lg:px-8 py-4">
        <form (ngSubmit)="update()" [formGroup]="form" class="w-full items-center">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Update wholesaler informations</h2>

                    <div class="mt-5">
                        <label class="block text-sm font-medium leading-6 text-gray-900" for="codeWholesaler">Aggregator's Code</label>
                        <div class="mt-2">
                            <select (change)="changeAggregator($event)"
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                                    formControlName="codeAggregator"
                                    id="codeAggregator">
                                <option value="">Select an aggregator</option>
                                <option *ngFor="let aggregator of aggregators$"
                                        [value]="aggregator.codeAggregator">{{ aggregator.description }}</option>
                            </select>
                            <p *ngIf="form.get('codeAggregator')?.errors?.['serverError']" class="text-xs text-red-500">
                                {{ form.get('codeAggregator')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label class="block text-sm font-medium leading-6 text-gray-900" for="codeWholesaler">Wholesaler's
                            Code</label>
                        <div class="mt-2">
                            <input
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                                formControlName="codeWholesaler"
                                id="codeWholesaler"
                                type="text">
                            <p *ngIf="form.get('codeWholesaler')?.errors?.['serverError']" class="text-xs text-red-500">
                                {{ form.get('codeWholesaler')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label class="block text-sm font-medium leading-6 text-gray-900"
                               for="description">Description</label>
                        <div class="mt-2">
                            <textarea
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                                formControlName="description"
                                id="description"
                                rows="3"></textarea>
                            <p *ngIf="form.get('description')?.errors?.['serverError']" class="text-xs text-red-500">
                                {{ form.get('description')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="mt-6 space-y-6">
                            <div class="relative flex gap-x-3">
                                <div class="flex h-6 items-center">
                                    <input [defaultChecked]="form.get('active').value"
                                           class="h-5 w-5 rounded border-gray-300 text-blue-600 focus:ring-blue-600"
                                           formControlName="active"
                                           id="active" name="active"
                                           type="checkbox">
                                </div>
                                <div class="text-sm leading-6">
                                    <label class="font-medium text-gray-900" for="active">Active</label>
                                    <p class="text-gray-500">Allow to activate or deactivate the wholesaler.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="formError" class="mt-2 text-red-500">
                {{ formError }}
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button
                    (click)="toggleModal()"
                    class="text-sm font-semibold leading-6 text-gray-900" type="button">Cancel
                </button>
                <button
                    class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
                    type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</app-shared-modal>
