<div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Loan request</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all loan requests.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <app-loan-request-create [codeWholesaler]="codeWholesaler"/>
    </div>
</div>
<app-shared-paginated-resource (pageChange)="goToPage($event.number)"
                               *ngIf="page$ | async as pageResponse ; else itemsloader"
                               [(page)]="pageResponse.data">
    <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
        <tr>
            <th class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6" scope="col">Lender</th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 sm:pl-6" scope="col">amount</th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 sm:pl-6" scope="col">fees</th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 sm:pl-6" scope="col">Recovered amount
            </th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 sm:pl-6" scope="col">Outstanding
                balance
            </th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900" scope="col">Status</th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900" scope="col">Created At</th>
            <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900" scope="col"></th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
        <tr *ngFor="let loanRequest of pageResponse?.data?.content">
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ loanRequest.lender.description }}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900 sm:pl-6">{{ loanRequest.amount | number:'2.' }}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900 sm:pl-6">{{ loanRequest.fees | number:'2.' }}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 sm:pl-6">{{ loanRequest.recoveredAmount | number:'2.' }}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 sm:pl-6">{{ loanRequest.outstandingBalance | number:'2.'}}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ loanRequest.status }}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ loanRequest.createdAt | date:'dd/MM/yy HH:mm:ss' }}</td>
            <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">

                <div class="flex space-x-2">
                    <app-loan-request-validation
                        [disabled]="loanRequest.status !== 'INITIATED'"
                        [token]="loanRequest.token"/>

                    <app-loan-request-repay
                        [disabled]="loanRequest.status !== 'VALIDATED'"
                        [token]="loanRequest.token"/>

                </div>

            </td>
        </tr>
        <tr *ngIf="pageResponse?.data?.content.length == 0">
            <td class="whitespace-nowrap py-2 text-center text-sm text-gray-500 sm:pl-0" colspan="6"> No data
                available
            </td>
        </tr>
        </tbody>
    </table>
</app-shared-paginated-resource>

<ng-template #itemsloader>
    <app-table-loader></app-table-loader>
</ng-template>
