.active {
    border-bottom-color: #3390FF; /* Replace with your desired active tab color */
    color: #3390FF; /* Replace with your desired active tab text color */
    font-weight: bold; /* Optionally, make the active tab text bold */
}
