<div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
<!--        <h1 class="text-base font-semibold leading-6 text-gray-900">Operations {{ title.length > 0 ? ': ' + title : '' }}</h1>-->
        <p class="mt-2 text-sm text-gray-700">List of account operations</p>
    </div>
</div>
<app-shared-paginated-resource [(page)]="page" (pageChange)="goToPage($event.number)">
    <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Type</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Amount</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 hidden lg:table-cell md:table xl:table-cell">Balance before</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 hidden lg:table-cell md:table xl:table-cell">Balance after</th>
            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Created At</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
        <tr *ngFor="let operation of page?.content">
            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">{{ operation.type }}</td>
            <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">{{ operation.amount | number:'1.0-3' }}</td>
            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden lg:table-cell md:table xl:table-cell">{{ operation.balanceBefore  | number:'1.0-3' }}</td>
            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 hidden lg:table-cell md:table xl:table-cell">{{ operation.balanceAfter  | number:'1.0-3' }}</td>
            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ operation.createdAt | date:'dd/MM/yy HH:mm:ss' }}</td>
        </tr>
        <tr *ngIf="page?.content.length == 0">
            <td class="whitespace-nowrap py-2 text-center text-sm text-gray-500 sm:pl-0" colspan="6"> No data available </td>
        </tr>
        </tbody>
    </table>
</app-shared-paginated-resource>
