<button
    (click)="toggleModal()"
    type="button"
    class="block rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">New Agent</button>

<app-shared-modal [show]="displayModal">
    <div class="px-4 sm:px-6 lg:px-8 py-4">
        <form class="w-full items-center" [formGroup]="form" (ngSubmit)="create()">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Create a new agent</h2>

                    <div class="mt-5">
                        <label for="codeAgent" class="block text-sm font-medium leading-6 text-gray-900">Agent's Code</label>
                        <div class="mt-2">
                            <input type="text" id="codeAgent"
                                   formControlName="codeAgent"
                                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                            <p class="text-xs text-red-500" *ngIf="form.get('codeAgent')?.errors?.['serverError']">
                                {{ form.get('codeAgent')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="codeWholesaler" class="block text-sm font-medium leading-6 text-gray-900">Wholesaler</label>
                        <div class="mt-2">
                            <select id="codeWholesaler"
                                    (change)="changeWholesaler($event)"
                                    formControlName="codeWholesaler"
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                                <option value="">Select a wholesaler</option>
                                <option *ngFor="let wholesaler of wholesalers"
                                        [value]="wholesaler.codeWholesaler" >{{ wholesaler.description }}</option>
                            </select>

                            <p class="text-xs text-red-500" *ngIf="form.get('codeWholesaler')?.errors?.['serverError']">
                                {{ form.get('codeWholesaler')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="overdraftMaxDailyCount" class="block text-sm font-medium leading-6 text-gray-900">Max daily overdraft count</label>
                        <div class="mt-2">
                            <input type="text" id="overdraftMaxDailyCount"
                                   formControlName="overdraftMaxDailyCount"
                                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                            <p class="text-xs text-red-500" *ngIf="form.get('overdraftMaxDailyCount')?.errors?.['serverError']">
                                {{ form.get('overdraftMaxDailyCount')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="overdraftLimitAmount" class="block text-sm font-medium leading-6 text-gray-900">overdraft limit amount</label>
                        <div class="mt-2">
                            <input type="text" id="overdraftLimitAmount"
                                   formControlName="overdraftLimitAmount"
                                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                            <p class="text-xs text-red-500" *ngIf="form.get('overdraftLimitAmount')?.errors?.['serverError']">
                                {{ form.get('overdraftLimitAmount')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="penaltyDelayInDays" class="block text-sm font-medium leading-6 text-gray-900">Penalty Delay (In days)</label>
                        <div class="mt-2">
                            <input type="text" id="penaltyDelayInDays"
                                   formControlName="penaltyDelayInDays"
                                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                            <p class="text-xs text-red-500" *ngIf="form.get('penaltyDelayInDays')?.errors?.['serverError']">
                                {{ form.get('penaltyDelayInDays')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>

                    <div class="mt-5">
                        <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                        <div class="mt-2">
                            <textarea id="description" rows="3"
                                      formControlName="description"
                                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"></textarea>
                            <p class="text-xs text-red-500" *ngIf="form.get('description')?.errors?.['serverError']">
                                {{ form.get('description')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button
                    (click)="toggleModal()"
                    type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                <button type="submit" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Save</button>
            </div>
        </form>
    </div>
</app-shared-modal>
