<app-dashboard>
    <div>
        <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-5">
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">System Balance</dt>
                <dd *ngIf="metrics$ | async as metricResponse; else textLoader"
                    class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ metricResponse?.data?.systemBalance | number: '.0-2' }}</dd>
            </div>

            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Lender Count</dt>
                <dd *ngIf="metrics$ | async as metricResponse; else textLoader"
                    class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ metricResponse?.data?.lenderCount }}</dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Aggregator Count</dt>
                <dd *ngIf="metrics$ | async as metricResponse; else textLoader"
                    class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ metricResponse?.data?.aggregatorCount }}</dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Wholesaler Count</dt>
                <dd *ngIf="metrics$ | async as metricResponse; else textLoader"
                    class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ metricResponse?.data?.wholesalerCount }}</dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Agent Count</dt>
                <dd *ngIf="metrics$ | async as metricResponse; else textLoader"
                    class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{{ metricResponse?.data?.agentCount }}</dd>
            </div>
        </div>
    </div>


    <div class="rounded-lg bg-white mt-5">
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
            <div class="sm:col-span-1 py-5 px-3 border border-gray-50 rounded shadow">
                <app-credit-count-chart *ngIf="metrics$ | async; else graphLoader"/>
            </div>
            <div class="sm:col-span-1 py-5 px-3 border border-gray-50 rounded shadow">
                <app-credit-flux-chart *ngIf="metrics$ | async; else graphLoader"/>
            </div>
            <div class="sm:col-span-1 py-5 px-3 border border-gray-50 rounded shadow">
                <app-credit-count-by-agent-chart *ngIf="metrics$ | async; else graphLoader"/>
            </div>
            <div class="sm:col-span-1 py-5 px-3 border border-gray-50 rounded shadow">
                <app-credit-flux-by-agent-chart *ngIf="metrics$ | async; else graphLoader"/>
            </div>
        </div>
    </div>

    <ng-template #textLoader>
        <div class="max-w-sm animate-pulse" role="status">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-2.5"></div>
        </div>
    </ng-template>
    <ng-template #graphLoader>

        <div class="max-w-sm p-4 animate-pulse md:p-6 dark:border-gray-700" role="status">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32 mb-2.5"></div>
            <div class="w-48 h-2 mb-10 bg-gray-200 rounded-full dark:bg-gray-700"></div>
            <div class="flex items-baseline mt-4 space-x-6">
                <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700"></div>
                <div class="w-full h-56 bg-gray-200 rounded-t-lg dark:bg-gray-700"></div>
                <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700"></div>
                <div class="w-full h-64 bg-gray-200 rounded-t-lg dark:bg-gray-700"></div>
                <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700"></div>
                <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700"></div>
                <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700"></div>
            </div>
            <span class="sr-only">Loading...</span>
        </div>

    </ng-template>
</app-dashboard>
