<app-dashboard>
    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            <app-detail-cards>
                <div header-title class="flex justify-between">
                    <div class="flex gap-x-2">
                        <svg class="w-6 h-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                        <div class="text-sm font-medium leading-6 text-gray-900">Wholesaler info</div>
                        <app-wholesaler-update *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader" [wholesaler]="wholesalerResponse?.data" />
                    </div>
                    <app-update-agent *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader" [wholesaler]="wholesalerResponse?.data" />
                </div>

                <div body>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Code Wholesaler</dt>
                        <dd class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/10" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.codeWholesaler }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Description</dt>
                        <dd class="text-gray-700" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.description }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Created At</dt>
                        <dd class="text-gray-700" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.createdAt | date:'dd/MM/yy HH:mm:ss' }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Active</dt>
                        <dd class="text-gray-700" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">
                            <app-active-badge [active]="wholesalerResponse?.data?.active"></app-active-badge>
                        </dd>
                    </div>
                </div>
            </app-detail-cards>
            <app-detail-cards>
                <div header-title class="flex gap-x-2">

                    <svg class="w-6 h-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
                    </svg>
                    <span>Accounts Balances</span>
                </div>
                <div body>
                    <div class="flex justify-between gap-x-4 py-3">
                        <dt class="text-gray-500">Credit Account</dt>
                        <dd class="text-gray-700 text-lg font-bold" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.creditAccount.balance | number: '.0-2'  }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-3">
                        <dt class="text-gray-500">Commission Account</dt>
                        <dd class="text-gray-700 text-lg font-bold" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.commissionAccount.balance | number: '.0-2'  }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-3">
                        <dt class="text-gray-500">Operational Account</dt>
                        <dd class="text-gray-700 text-lg font-bold" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.aggregatorWholesaler.account?.balance | number: '.0-2'  }}</dd>
                    </div>
                </div>
            </app-detail-cards>
        </ul>
    </div>

    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <app-tab-container>
            <app-tab-item tabTitle="Loan request">
                <app-loan-request-index *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [codeWholesaler]="wholesalerResponse?.data?.codeWholesaler"></app-loan-request-index>
            </app-tab-item>

            <app-tab-item tabTitle="Provision Request">
                <app-wholesaler-provision-index *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [codeWholesaler]="wholesalerResponse?.data?.codeWholesaler"/>
            </app-tab-item>
            <app-tab-item tabTitle="Credit account's operations">
                <app-account-operations *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [accountSlug]="wholesalerResponse?.data?.creditAccount?.slug" title="Credit account"/>
            </app-tab-item>

            <app-tab-item tabTitle="Commission account's operations">
                <app-account-operations *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [accountSlug]="wholesalerResponse?.data?.commissionAccount?.slug" title="Commission account"/>
            </app-tab-item>
            <app-tab-item tabTitle="Operational account's operations">
                <app-account-operations *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [accountSlug]="wholesalerResponse?.data?.aggregatorWholesaler?.account?.slug" title="Operational account"/>
            </app-tab-item>
            <app-tab-item tabTitle="Commission Plan">
                <app-commission-plan-index *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [code]="wholesalerResponse?.data?.codeWholesaler" [type]="Commissionable.wholesaler"/>
            </app-tab-item>
        </app-tab-container>
    </div>
</app-dashboard>
<ng-template #textLoader>
    <div role="status" class="max-w-sm animate-pulse">
        <div class="h-6 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-2.5"></div>
    </div>
</ng-template>

<ng-template #itemsloader>
    <div role="status" class="max-w-sm animate-pulse">
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-ful mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>
