<app-dashboard>
    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            <li class="overflow-hidden rounded-xl border border-gray-200">
                <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
                    <span class="p-2 bg-white rounded ring-1 ring-gray-900/10">
                        <svg class="w-6 h-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                    </span>
                    <div class="text-sm font-medium leading-6 text-gray-900">Wholesaler info</div>
                    <app-wholesaler-update *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader" [wholesaler]="wholesalerResponse?.data" />
                </div>
                <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Code Wholesaler</dt>
                        <dd class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/10" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.codeWholesaler }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Description</dt>
                        <dd class="text-gray-700" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.description }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Created At</dt>
                        <dd class="text-gray-700" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.createdAt | date:'dd/MM/yy HH:mm:ss' }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-2">
                        <dt class="text-gray-500">Active</dt>
                        <dd class="text-gray-700" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">
                            <app-active-badge [active]="wholesalerResponse?.data?.active"></app-active-badge>
                        </dd>
                    </div>
                </dl>
            </li>
            <li class="overflow-hidden rounded-xl border border-gray-200">
                <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
                    <span class="p-2 bg-white rounded ring-1 ring-gray-900/10">
                        <svg class="w-6 h-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V13.5zm0 2.25h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V18zm2.498-6.75h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V13.5zm0 2.25h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V18zm2.504-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zm0 2.25h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V18zm2.498-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zM8.25 6h7.5v2.25h-7.5V6zM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 002.25 2.25h10.5a2.25 2.25 0 002.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0012 2.25z" />
                        </svg>
                    </span>
                    <div class="text-sm font-medium leading-6 text-gray-900">Balance</div>
                </div>
                <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
                    <div class="flex justify-between gap-x-4 py-3">
                        <dt class="text-gray-500">Credit Account</dt>
                        <dd class="text-gray-700 text-lg font-bold" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.creditAccount.balance | number: '.0-2'  }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-3">
                        <dt class="text-gray-500">Commission Account</dt>
                        <dd class="text-gray-700 text-lg font-bold" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.commissionAccount.balance | number: '.0-2'  }}</dd>
                    </div>
                    <div class="flex justify-between gap-x-4 py-3">
                        <dt class="text-gray-500">Operational Account</dt>
                        <dd class="text-gray-700 text-lg font-bold" *ngIf="wholesaler$ | async as wholesalerResponse ; else textLoader">{{ wholesalerResponse?.data?.aggregatorWholesaler.account?.balance | number: '.0-2'  }}</dd>
                    </div>
                </dl>
            </li>
        </ul>
    </div>

    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <app-tab-container>
            <app-tab-item tabTitle="Loan request">
                <app-loan-request-index *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [codeWholesaler]="wholesalerResponse?.data?.codeWholesaler"></app-loan-request-index>
            </app-tab-item>

            <app-tab-item tabTitle="Provision Request">
                <app-wholesaler-provision-index *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [codeWholesaler]="wholesalerResponse?.data?.codeWholesaler"/>
            </app-tab-item>
            <app-tab-item tabTitle="Credit account's operations">
                <app-account-operations *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [accountSlug]="wholesalerResponse?.data?.creditAccount?.slug" title="Credit account"/>
            </app-tab-item>

            <app-tab-item tabTitle="Commission account's operations">
                <app-account-operations *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [accountSlug]="wholesalerResponse?.data?.commissionAccount?.slug" title="Commission account"/>
            </app-tab-item>
            <app-tab-item tabTitle="Operational account's operations">
                <app-account-operations *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [accountSlug]="wholesalerResponse?.data?.aggregatorWholesaler?.account?.slug" title="Operational account"/>
            </app-tab-item>
            <app-tab-item tabTitle="Commission Plan">
                <app-commission-plan-index *ngIf="wholesaler$ | async as wholesalerResponse ; else itemsloader" [code]="wholesalerResponse?.data?.codeWholesaler" [type]="Commissionable.wholesaler"/>
            </app-tab-item>
        </app-tab-container>
    </div>
</app-dashboard>
<ng-template #textLoader>
    <div role="status" class="max-w-sm animate-pulse">
        <div class="h-6 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-2.5"></div>
    </div>        
</ng-template>

<ng-template #itemsloader>
    <div role="status" class="max-w-sm animate-pulse">
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-ful mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"></div>
        <span class="sr-only">Loading...</span>
    </div>      
</ng-template>