<div class="mt-5">
    <button
        (click)="toggleModal()"
        class="block rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        type="button">
        New provision request
    </button>
</div>
<app-shared-modal [show]="displayModal">
    <div class="px-4 sm:px-6 lg:px-8 py-4">
        <form (ngSubmit)="create()" [formGroup]="form" class="w-full items-center">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Provision lender</h2>

                    <div class="mt-5">
                        <label class="block text-sm font-medium leading-6 text-gray-900" for="amount">Amount</label>
                        <div class="mt-2">
                            <input
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
                                formControlName="amount"
                                id="amount"
                                type="text">
                            <p *ngIf="form.get('amount')?.errors?.['serverError']" class="text-xs text-red-500">
                                {{ form.get('amount')?.errors?.['serverError'] }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <ngx-dropzone (change)="onSelect($event)">
                            <ngx-dropzone-label>Vouchers</ngx-dropzone-label>
                            <ngx-dropzone-preview (removed)="onRemove(file)" *ngFor="let file of files"
                                                  [removable]="true">
                                <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <app-shared-warning *ngIf="form.hasError('message')">
                        {{ form.getError('message') }}
                    </app-shared-warning>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button
                    (click)="toggleModal()"
                    class="text-sm font-semibold leading-6 text-gray-900" type="button">Cancel
                </button>
                <button
                    class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
                    type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</app-shared-modal>
