<div [ngClass]="{ 'relative z-10': show }" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div
        [ngClass]="{ hidden: !show, block: show}"
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div *ngIf="show" class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                [ngClass]="{ hidden: !show, block: show}"
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-{{ size }}">
                <ng-content/>
            </div>
        </div>
    </div>
</div>
