<app-dashboard>
    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <div role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 xl:gap-x-8">
            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-1">
                <app-detail-cards>
                    <div header-title class="flex gap-x-2">
                        <svg class="w-6 h-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                        <span>Aggregator info</span>
                    </div>
                    <div body>
                        <div class="flex justify-between gap-x-4 py-2">
                            <dt class="text-gray-500">Code Aggregator </dt>
                            <dd class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/10" *ngIf="aggregator">{{aggregator.codeAggregator}}</dd>
                        </div>
                        <div class="flex justify-between gap-x-4 py-2">
                            <dt class="text-gray-500">Description</dt>
                            <dd class="text-gray-700" *ngIf="aggregator">{{aggregator.description}}</dd>
                        </div>
                        <div class="flex justify-between gap-x-4 py-2">
                            <dt class="text-gray-500">Created At</dt>
                            <dd class="text-gray-700" *ngIf="aggregator">{{aggregator.createdAt | date}}</dd>
                        </div>
                    </div>
                </app-detail-cards>
            </dl>

            <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Credit Balance</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" *ngIf="aggregator">{{ aggregator.creditAccount.balance | number: '.0-2' }}</dd>
                </div>
                <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                    <dt class="truncate text-sm font-medium text-gray-500">Commission Balance</dt>
                    <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" *ngIf="aggregator">{{ aggregator.commissionAccount.balance | number: '.0-2' }}</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="px-4 sm:px-6 lg:px-8 mb-10">

        <app-tab-container>
            <app-tab-item tabTitle="Credit account operations">
                <app-account-operations *ngIf="aggregator.creditAccount.slug " [accountSlug]="aggregator.creditAccount.slug"/>
            </app-tab-item>
            <app-tab-item tabTitle="Commission account operations">
                <app-account-operations *ngIf="aggregator.commissionAccount.slug " [accountSlug]="aggregator.commissionAccount.slug"/>
            </app-tab-item>
            <app-tab-item tabTitle="Commission Plans">
                <app-commission-plan-index [code]="aggregator.codeAggregator" [type]="Commissionable.aggregator"/>
            </app-tab-item>
        </app-tab-container>
    </div>
</app-dashboard>
