<app-dashboard>
    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Credit Balance</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" *ngIf="aggregator">{{ aggregator.creditAccount.balance | number: '.0-2' }}</dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Commission Balance</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" *ngIf="aggregator">{{ aggregator.commissionAccount.balance | number: '.0-2' }}</dd>
            </div>
        </dl>
    </div>
    <div class="px-4 sm:px-6 lg:px-8 mb-10">
        <div class="border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="mr-2">
                    <a (click)="tabService.showOperationCredit()" [class.active]="tabService.activeTab === 'operationCredit'" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <svg class="w-4 h-4 mr-2 text-gray-400 {{ tabService.activeTab === 'operationCredit' ? 'text-blue-500' : '' }} group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M3 2h14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm1 2v7h2V4H4zm2 9H4v2h2v-2zm6 0h-4v2h4v-2zm4-9h-2v7h2V4zm-1 5h-2V7h2v3z"/>
                        </svg><span class="{{ tabService.activeTab === 'operationCredit' ? 'font-bold text-blue-500' : 'text-sm font-medium leading-6 text-gray-900' }}"> Credit Account Operation</span>
                    </a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="mr-2">
                    <a (click)="tabService.showOperationCommission()" [class.active]="tabService.activeTab === 'operationCommission'" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <svg class="w-4 h-4 mr-2 text-gray-400 {{ tabService.activeTab === 'operationCommission' ? 'text-blue-500' : '' }} group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-14.07a1 1 0 0 1 1.2.718l1.903 6.786 5.77 1.395a1 1 0 0 1 .608 1.676l-4.927 5.24 1.126 6.452a1 1 0 0 1-1.45 1.054l-5.62-3.05-5.62 3.05a1 1 0 0 1-1.45-1.054l1.125-6.452-4.927-5.24a1 1 0 0 1 .608-1.676l5.77-1.395 1.903-6.786a1 1 0 0 1 1.203-.718z"/>
                        </svg><span class="{{ tabService.activeTab === 'operationCommission' ? 'font-bold text-blue-500' : ' font-medium leading-6 text-gray-900' }}">Operations Commission</span>
                    </a>
                </li>
                <li class="mr-2">
                    <a (click)="tabService.showCommission()" [class.active]="tabService.activeTab === 'commission'" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <svg class="w-4 h-4 mr-2 text-gray-400 {{ tabService.activeTab === 'commission' ? 'text-blue-500' : '' }} group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-14.07a1 1 0 0 1 1.2.718l1.903 6.786 5.77 1.395a1 1 0 0 1 .608 1.676l-4.927 5.24 1.126 6.452a1 1 0 0 1-1.45 1.054l-5.62-3.05-5.62 3.05a1 1 0 0 1-1.45-1.054l1.125-6.452-4.927-5.24a1 1 0 0 1 .608-1.676l5.77-1.395 1.903-6.786a1 1 0 0 1 1.203-.718z"/>
                        </svg><span class="{{ tabService.activeTab === 'commission' ? 'font-bold text-blue-500' : ' font-medium leading-6 text-gray-900' }}">Commission Plan</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="mb-10">
            <app-account-operations *ngIf="aggregator.creditAccount.slug && tabService.activeTab === 'operationCredit'" [accountSlug]="aggregator.creditAccount.slug" title="Credit account"/>
            <app-account-operations *ngIf="aggregator.commissionAccount.slug && tabService.activeTab === 'operationCommission'" [accountSlug]="aggregator.commissionAccount.slug" title="Commission account"/>
            <app-commission-plan-index *ngIf="tabService.activeTab === 'commission'"[code]="aggregator.codeAggregator" [type]="Commissionable.aggregator"/>
        </div>
    </div>
</app-dashboard>
