<app-dashboard>
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <div class="flex gap-x-2">
                    <h1 class="text-base font-semibold leading-6 text-gray-900">Aggregator</h1>
                    <app-aggregator-create/>
                </div>
                <p class="mt-2 text-sm text-gray-700">A list of all aggregators.</p>
            </div>
        </div>
        <app-shared-paginated-resource [page]="pageResponse.data" (pageChange)="goToPage($event.number)" *ngIf="page$ | async as pageResponse ; else itemsloader">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 hidden lg:table-cell xl:table-cell">Code</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                <tr *ngFor="let aggregator of pageResponse?.data?.content">
                    <td class="whitespace-nowrap py-2 pl-2 pr-3 text-sm font-medium text-gray-900 sm:pl-6 hidden lg:table-cell xl:table-cell">{{ aggregator.codeAggregator }}</td>
                    <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ aggregator.description }}</td>
                    <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                        <div class="inline-flex shadow-sm">
                            <button type="button"
                                    routerLink="/agents/{{aggregator.codeAggregator}}"
                                    class="relative inline-flex items-center rounded-l-md bg-white px-2.5 py-1.5 text-sm font-semibold gap-x-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                                Agents
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-blue-600 font-bold">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="pageResponse?.data?.content.length == 0">
                    <td class="whitespace-nowrap py-2 text-center text-sm text-gray-500 sm:pl-0" colspan="6"> No data available </td>
                </tr>
                </tbody>
            </table>

        </app-shared-paginated-resource>
        <ng-template #itemsloader>
            <app-table-loader></app-table-loader>
        </ng-template>
    </div>
</app-dashboard>
