<div class="mt-8 overflow-visible">
    <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 overflow-visible">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8 overflow-visible">
            <div class="overflow-visible shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                <ng-content/>
            </div>
            <div class="mt-5">
                <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
                    <div class="-mt-px flex w-0 flex-1">
                        <a (click)="changeToPage(page?.number - 1)"
                           [ngClass]="page?.first ? 'hidden' : ''"
                           class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            <svg aria-hidden="true" class="mr-3 h-5 w-5 text-gray-400" fill="currentColor"
                                 viewBox="0 0 20 20">
                                <path clip-rule="evenodd"
                                      d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                                      fill-rule="evenodd"/>
                            </svg>
                            Previous
                        </a>
                    </div>
                    <div class="hidden md:-mt-px md:flex">
                        <ng-container *ngFor="let count of [].constructor(page?.totalPages); let i = index;">
                            <ng-template [ngIf]="i >= page?.number && i < page?.number + 5">
                                <a (click)="changeToPage(i)"
                                   [ngClass]="page?.number != i
                                           ? 'inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700'
                                           : 'inline-flex items-center border-t-2 px-4 pt-4 text-sm font-medium border-blue-500 text-blue-600'">{{ i + 1 }}</a>
                            </ng-template>
                        </ng-container>
                    </div>
                    <div class="-mt-px flex w-0 flex-1 justify-end">
                        <a (click)="changeToPage(page?.number + 1)"
                           [ngClass]="page?.last ?  'hidden' : ''"
                           class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
                            Next
                            <svg aria-hidden="true" class="ml-3 h-5 w-5 text-gray-400" fill="currentColor"
                                 viewBox="0 0 20 20">
                                <path clip-rule="evenodd"
                                      d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                                      fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
